.loader {
	display: inline-block;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

progress {
   /*-webkit-appearance: none;*/ /*The it looks a green progress bar*/
}

.with-heading {
    position: relative;
}

.with-heading .info {
    position: absolute;
    top: 0;
    right: 0;
}